.my-panel-out {
    padding-left: 10px;
    padding-right: 10px;
}.my-panel-in {
     padding-left: 0px;
     padding-right: 0px;
 }

.bs-example {
    position: relative;
    padding: 1px 15px;
    margin: 0 -15px 15px;
    border-color: #e5e5e5;
    border-style: solid;
    border-width: 1px;
    border-radius: 4px 4px 0 0;

}
.panel-title {
    font-weight: 400;
    color: white;
}
.tema {
    color: #18bc9c;
}
    .ccc {
        position: absolute;
        top: 15px;
        left: 15px;
        font-size: 12px;
        font-weight: 700;
        color: #959595;
        text-transform: uppercase;
        letter-spacing: 1px;
        content: "Example";
    }